Key Features of Pandas

Fast and efficient DataFrame object with default and customized indexing.

Tools for loading data into in-memory data objects from different file formats.

Data alignment and integrated handling of missing data.

Reshaping and pivoting of date sets.

Label-based slicing, indexing and subsetting of large data sets.

Columns from a data structure can be deleted or inserted.

Group by data for aggregation and transformations.

High performance merging and joining of data.

Time Series functionality.

In [8]:
import pandas as pd
import numpy as np

Pandas deals with the following three data structures −

1.Series-1D labeled 
-Homogeneous data
-Size Immutable
-Values of Data Mutable

2.DataFrame-General 2D labeled, 
-size mutable 
-data mutable
-with potentially heterogeneously typed columns.

3.Panel-General 3D labeled, 
-Heterogeneous data
-Size Mutable
-Data Mutable

In [9]:
#series
a=pd.Series()
a

<ipython-input-9-82cc2e36889f>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()

Series([], dtype: float64)

In [10]:

b=pd.Series([100,200,300,400,500,600,700,800,9,10])
b
#create index for data

0    100
1    200
2    300
3    400
4    500
5    600
6    700
7    800
8      9
9     10
dtype: int64

# DATAFRAME

In [11]:
#converting dictionary to dataframe
dict={'A':[1,2,3] , 'B':[4,5,6] , 'C':[7,8,9] }
df=pd.DataFrame(dict)
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [12]:
#adding coloumn to dataframe
df['States']="AB CD EF".split()
df

#split will split the data based on the spaces

   A  B  C States
0  1  4  7     AB
1  2  5  8     CD
2  3  6  9     EF

In [13]:
#creating Nan values and manipulation
dict1={'A':[1,2,np.nan], 'B':[5,np.nan,np.nan], 'C':[4,7,20]}
df1=pd.DataFrame(dict1)
df1


#We add nan(not a number) using np.nan

     A    B   C
0  1.0  5.0   4
1  2.0  NaN   7
2  NaN  NaN  20

In [14]:
#dropping a coloumn with Nan Value
print(df1.dropna(axis=1))

#axis=1-->coloumn

    C
0   4
1   7
2  20

In [15]:
#dropping a row with nan value
print(df1.dropna(axis=0))

     A    B  C
0  1.0  5.0  4

In [16]:
df1

     A    B   C
0  1.0  5.0   4
1  2.0  NaN   7
2  NaN  NaN  20

In [17]:
#filling Nan values with default value
print(df1.fillna(value=20))

      A     B   C
0   1.0   5.0   4
1   2.0  20.0   7
2  20.0  20.0  20

In [18]:
#filling the nan values with mean of coloumn A
print(df1.fillna(value=df1['A'].mean()))

     A    B   C
0  1.0  5.0   4
1  2.0  1.5   7
2  1.5  1.5  20

# GROUPBY

By “group by” we are referring to a process involving one or more of the following steps:Splitting the data into groups based on some criteria.Applying a function to each group independently.

Combining the results into a data structure.Out of these, the split step is the most straightforward. In fact, in many situations we may wish to split the data set into groups and do something with those groups. In the apply step, we might wish to do one of the following:

In [19]:
import pandas as pd
data = {
  "calories": [420, 380, 390,233],
  "duration": [50, 40, 45,42],
    "reps":[20,32,42,23]
}

In [20]:
#converting the data into dataframe
df2=pd.DataFrame(data)
df2

   calories  duration  reps
0       420        50    20
1       380        40    32
2       390        45    42
3       233        42    23

In [21]:
#grouping 
bycalorie=df2.groupby('calories')

In [22]:
#finding mean
print(bycalorie.mean())

          duration  reps
calories
233             42    23
380             40    32
390             45    42
420             50    20

In [23]:
#finding sum
print(bycalorie.sum())

          duration  reps
calories
233             42    23
380             40    32
390             45    42
420             50    20

# MERGING DATAFRAME

In [24]:
df4=pd.DataFrame({"calories": [420, 380, 390,233], "duration": [50, 40, 45,42], "reps":[20,32,42,23]},index=[0,1,2,3])

In [25]:
df4

   calories  duration  reps
0       420        50    20
1       380        40    32
2       390        45    42
3       233        42    23

In [26]:
df5=pd.DataFrame({"calories": [420, 380, 390,233], "duration": [50, 40, 45,42], "reps":[20,32,42,23]},index=[4,5,6,7])

In [27]:
dfconcat=pd.concat([df4,df5],axis=0)
dfconcat

   calories  duration  reps
0       420        50    20
1       380        40    32
2       390        45    42
3       233        42    23
4       420        50    20
5       380        40    32
6       390        45    42
7       233        42    23

In [28]:
dfconcat1=pd.concat([df4,df5],axis=1)
dfconcat1

   calories  duration  reps  calories  duration  reps
0     420.0      50.0  20.0       NaN       NaN   NaN
1     380.0      40.0  32.0       NaN       NaN   NaN
2     390.0      45.0  42.0       NaN       NaN   NaN
3     233.0      42.0  23.0       NaN       NaN   NaN
4       NaN       NaN   NaN     420.0      50.0  20.0
5       NaN       NaN   NaN     380.0      40.0  32.0
6       NaN       NaN   NaN     390.0      45.0  42.0
7       NaN       NaN   NaN     233.0      42.0  23.0

In [29]:
dfconcat1.fillna(value=0,inplace=True)

#inplace=true means the changes made should be permanent

# MERGING DATAFRAME BY A COMMON KEY

Inner join is the most common type of join you’ll be working with. It returns a dataframe with only those rows that have common characteristics.

Full Join, also known as Full Outer Join, returns all those records which either have a match in the left or right dataframe.

Left join, also known as Left Outer Join, returns a dataframe containing all the rows of the left dataframe.

Right join, also known as Right Outer Join, is similar to the Left Outer Join. The only difference is that all the rows of the right dataframe are taken as it is and only those of the left dataframe that are common in both.

In [30]:
data1 = {
  'key':['k1','k2','k3','k4'],
  "duration1":[50, 40, 45,42],
 "reps1":[20,39,29,39]
}
 
data2={
  'key':['k1','k2','k3','k4'],
  "dur": [53,45,34,35],
    "re":[20,32,42,23]
}

left=pd.DataFrame(data1)
right=pd.DataFrame(data2)

print(left)
print(right)

  key  duration1  reps1
0  k1         50     20
1  k2         40     39
2  k3         45     29
3  k4         42     39
  key  dur  re
0  k1   53  20
1  k2   45  32
2  k3   34  42
3  k4   35  23

In [31]:
#merge
merge1=pd.merge(left,right,how='inner',on='key')
merge1

#while merging if keys dont match, then they dont merge

  key  duration1  reps1  dur  re
0  k1         50     20   53  20
1  k2         40     39   45  32
2  k3         45     29   34  42
3  k4         42     39   35  23

In [32]:
#join

#he join method works best when we are joining dataframes on their indexes 
#(though you can specify another column to join on for the left dataframe).

data3 = {
  "duration1":[50, 40, 45,42],
 "reps1":[20,39,29,39]
}
 
data4={
   "duration1":[50, 40, 45,42],
 "reps1":[20,39,29,39]
}

right1=pd.DataFrame(data2,index=[0,1,2,3])
left1=pd.DataFrame(data1,index=[0,1,2,3])

In [33]:
right1

  key  dur  re
0  k1   53  20
1  k2   45  32
2  k3   34  42
3  k4   35  23

In [34]:
left1

  key  duration1  reps1
0  k1         50     20
1  k2         40     39
2  k3         45     29
3  k4         42     39

In [35]:
left1.join(right1,how='outer')
    
#the left should be as it is
#the right should be joined to left

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')

# USING FUNCTION INSIDE DATAFRAME

In [ ]:
#creating a new coloumn using function output
def testfunc(x):
    if x>5:
        return(x-1)
    else:
        return(x+1)
    
df10=pd.DataFrame({'col1':[1,2,3,4,5,6,7],'col2':[10,20,30,40,50,60,70],'col3':[100,200,300,400,500,600,700]})

df10['Funcapplied']=df10['col1'].apply(testfunc)
df10

In [ ]:
#creating a new colomn using a inbuilt function
    
df11=pd.DataFrame({'col3':['aa','bbb','cc','dd','eeee','fff','gggg']})

df11['col3length']=df11['col3'].apply(len)

df11

You define a function that will take the column values you want to play with to come up with your logic. Here the only two columns we end up using are genre and rating.
You use an apply function with lambda along the row with axis=1. 

The general syntax is:
df['functionName'].apply(lambda x: function(x) )

In [ ]:
#using a function output coloumn as input for next output
df12=pd.DataFrame({'col1':[1,2,3,4,5,6,7],'col2':[10,20,30,40,50,60,70],'col3':[100,200,300,400,500,600,700]})
def testfunc(x):
    if x>5:
        return(x-1)
    else:
        return(x+1)
    
df12['Funcapplied']=df12['col1'].apply(testfunc)
df12

df12['Funcapplied'].apply(lambda x: np.sqrt(x) )

In [ ]:
print(df12['Funcapplied'].sum())

In [ ]:
print(df12['Funcapplied'].min())

In [ ]:
print(df12['Funcapplied'].max())


# COLUMN

In [ ]:
df12=pd.DataFrame({'col1':[1,2,3,4,5,6,7],'col2':[10,20,30,40,50,60,70],'col3':[100,200,300,400,500,600,700]})

#PRINT COLOUMNS IN DATAFRAME
print(df12.columns)

In [ ]:
#converting column names into a list
l=list(df12.columns)
print(l)

In [ ]:
#deleting a column
del df12['col1']
df12

# SORTING VALUES IN COLUMN

In [ ]:
df14=pd.DataFrame({'col1':[1,2,3,4,5,6,7],'col2':[100,90,80,70,60,50,40],'col3':[100,200,300,400,500,600,700]})
df14.sort_values(by='col2') #inplace=false in default

In [ ]:
#for decreasing
df14.sort_values(by='col2',ascending=False)

# Finding null values

In [ ]:
dict2={'email':['aneeshabsoman@gmail.com','aneeshabsoman123@Gmail.com',np.nan], 'phonenumber':[5,np.nan,np.nan], 'age':[4,7,20]}
df15=pd.DataFrame(dict2)
df15

In [ ]:
#number of null values in each column
df15.isnull().sum()

In [ ]:
#fill the null values
df15.fillna("aneesha")

# READING CSV FILE

In [ ]:
ipl=pd.read_csv('test.csv')

In [ ]:
ipl.tail(2)

In [ ]:
ipl.sample(n=10)

In [ ]:
type(ipl)

In [ ]:
ipl.shape

# EXPORTING DATA INTO CSV FILE

In [ ]:
#creating new file in desktop
ipl.to_csv('aneesha.csv')

while exporting if we dont want index, then we can make it false

# READING FROM EXCEL FILE
ipl=pd.read_excel('test.xlsx',sheet_name='Sheet2')

# READING FROM HTML

url="link.html"
data=pd.read_html(url)

# READING FROM JSON

In [36]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
print(df)

                              api_url  \
AED  https://www.exchangerate-api.com
AFN  https://www.exchangerate-api.com
ALL  https://www.exchangerate-api.com
AMD  https://www.exchangerate-api.com
ANG  https://www.exchangerate-api.com
..                                ...
XOF  https://www.exchangerate-api.com
XPF  https://www.exchangerate-api.com
YER  https://www.exchangerate-api.com
ZAR  https://www.exchangerate-api.com
ZMW  https://www.exchangerate-api.com

                                       api_docs  \
AED  https://www.exchangerate-api.com/docs/free
AFN  https://www.exchangerate-api.com/docs/free
ALL  https://www.exchangerate-api.com/docs/free
AMD  https://www.exchangerate-api.com/docs/free
ANG  https://www.exchangerate-api.com/docs/free
..                                          ...
XOF  https://www.exchangerate-api.com/docs/free
XPF  https://www.exchangerate-api.com/docs/free
YER  https://www.exchangerate-api.com/docs/free
ZAR  https://www.exchangerate-api.com/docs/free
ZMW  https://www.exchangerate-api.com/docs/free

                                  api_terms base       date  \
AED  https://www.exchangerate-api.com/terms  USD 2021-04-25
AFN  https://www.exchangerate-api.com/terms  USD 2021-04-25
ALL  https://www.exchangerate-api.com/terms  USD 2021-04-25
AMD  https://www.exchangerate-api.com/terms  USD 2021-04-25
ANG  https://www.exchangerate-api.com/terms  USD 2021-04-25
..                                      ...  ...        ...
XOF  https://www.exchangerate-api.com/terms  USD 2021-04-25
XPF  https://www.exchangerate-api.com/terms  USD 2021-04-25
YER  https://www.exchangerate-api.com/terms  USD 2021-04-25
ZAR  https://www.exchangerate-api.com/terms  USD 2021-04-25
ZMW  https://www.exchangerate-api.com/terms  USD 2021-04-25

     time_last_updated       rates
AED         1619308801    3.672500
AFN         1619308801   77.681999
ALL         1619308801  102.299115
AMD         1619308801  521.859837
ANG         1619308801    1.790000
..                 ...         ...
XOF         1619308801  543.710794
XPF         1619308801   98.912118
YER         1619308801  250.621616
ZAR         1619308801   14.276037
ZMW         1619308801   22.248759

[160 rows x 7 columns]

In [37]:
#DataFrame can be saved as a json file
import pandas as pd
import json
df1 = pd.DataFrame(df)
df1

,api_url,api_docs,api_terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,3.672500
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,77.681999
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,102.299115
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,521.859837
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,1.790000
...,...,...,...,...,...,...,...
XOF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,543.710794
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,98.912118
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,250.621616
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,14.276037
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,USD,2021-04-25,1619308801,22.248759

# DATE AND TIME

frequencies

H-->Hourly

M-->Monthly

Y-->year

Frequency by default is day

In [52]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')
date_rng

#This date range has timestamps with an hourly frequency

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [53]:
date_rng1= pd.date_range(start='1/1/2018',periods=10)
date_rng1

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')

In [54]:
date_rng3 = pd.date_range(start='1/1/2018', periods=10,freq='M')
date_rng3

#Whenever frequency is month, it will always print the last day of the particular month

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31'],
              dtype='datetime64[ns]', freq='M')

In [55]:
date_rng4 = pd.date_range(start='1/1/2018', periods=10,freq='Y')
date_rng4

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')